
body{
    background-color: rgb(128, 128, 128);
    margin: 0;
    padding: 0;
}

footer{
    background-color: rgb(11, 11, 11);
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: 100%;
    height: 60px;
    background-color: rgb(11, 11, 11);
    margin-bottom: 240px;
}

#main-item{
    background-color: rgb(39, 39, 39);
    margin: 10px;
    border-radius: 5px;
}

#text-block{
    color: white;
    margin: 15px;
    text-decoration: none;
    text-align: justify;
    padding-top: 15px;
}

.main1{
    height: 500px;
}

#grid-item, #grid-icon{
    text-align: center;
    font-size: 28px;
    text-decoration: none;
}

.grid1:hover{
    text-align: center;
    font-size: 28px;
    text-decoration: none;
    background-color: rgb(222, 222, 222);
    color: rgb(39, 39, 39);
}

.grid1{
    background-color: rgb(39, 39, 39);
    color: #ffffff;
    grid-column: 1 / 2;
}

.grid2{
    background-color: rgb(222, 222, 222);
    color: rgb(39, 39, 39);
    grid-column: 1 / 2;
}

.grid3{
    grid-column: 1 / 2;
}

.grid4{
    grid-column: 1 / 2;
}

.grid5{
    grid-column: 1 / 2;
}

#grid-icon{
    background-color: rgb(43, 43, 43);
    color: white;
}

header{
    color: red;
}

.main2{
    height: 100px;
}

.head{
    grid-column: 1/9;
    height: 20px;
    font-size: 15px;
    animation-name: textanim;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes textanim {
    0%   {left: 0%;}
    100% {left: 100%;}
}